<h4 class="subheader">Guezz - Knockout Phase Champions League 2013-2014  (ADMIN MODE)</h4>

<p class="subheader">
  <a href="#" data-reveal-id="GameRulesModal">Game Rules</a>
  |
  <a href="#">Admin Login</a>
</p>

<hr>

<h4 class="subheader">
  1st Leg of 1/8th Predictions by User Name
</h4>

<%= link_to "Go Back to Ranking", users_index_path %>

<table>
  <thead>
    <tr>
      <th width="250">Predictions</th>
      <th width="250">What was submitted...</th>
      <th width="250">What really happened...</th>
      <th width="200">Points</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <form>
            <input type="text" placeholder="What will be the final score?"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="F.C. Barcelona 2 - 1 Borussia Dortmund"
          </form>      
        </td>
        <td>
          <form>
            <input type="text" placeholder="F.C. Barcelona 3 - 1 Borussia Dortmund"
          </form>  
        </td>
        <td>
          <form>
            <input type="text" placeholder="50"
          </form>  
        </td>  
      </tr>
      <tr>
        <td>
          <form>
            <input type="text" placeholder="Who will score the first goal of the team?"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="Messi"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="Alexis"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="0"
          </form>
        </td>  
      </tr>
      <tr>
        <td>
          <form>
            <input type="text" placeholder="Who will be the best defender of the team?"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="Mascherano"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="Mascherano"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="0"
          </form>
        </td>  
      </tr>
      <tr>
        <td>
          <form>
            <input type="text" placeholder="Who will be the best midfielder of the team?"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="Iniesta"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="Song"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="0"
          </form>
        </td>  
      </tr>
      <tr>
        <td>
          <form>
            <input type="text" placeholder="Who will be the best forward of the team?"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="Alexis"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="Alexis"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="100"
          </form>
        </td>  
      </tr>
      <tr>
        <td>
          <form>
            <input type="text" placeholder="When will your team score the first goal?"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="16'-30'"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="44'"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="0"
          </form>
        </td>  
      </tr>
      <tr>
        <td>
          <form>
            <input type="text" placeholder="Which % of ball possession will your team have?"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="51%-60%"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="59%"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="100"
          </form>
        </td>  
      </tr>
      <tr>
        <td>
          <form>
            <input type="text" placeholder="How many yellow cards will be shown to both teams?"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="1-3"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="3"
          </form>
        </td>
        <td>
          <form>
            <input type="text" placeholder="100"
          </form>
        </td>  
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td> 
          <h4 class="subheader">Total points 450</h4>
        </td>  
      </tr>
  </tbody>
</table>

<div class="centered_padding_bottom_40">
  <a href="#" class="large button buton success button radius center">Save Changes</a>
</div>
          
<!-- Footer -->

<div class="centered_padding_bottom_40">
  <p>© The Guezz<p>
</div>