<h4 class="subheader">Guezz - Knockout Phase Champions League 2013-2014</h4>

<p class="subheader">
  <a href="#" data-reveal-id="GameRulesModal">Game Rules</a>
  |
  <a href="#">Admin Login</a>
</p>

<hr>

<h4 class="subheader">1st Leg of 1/8th Predictions by User Name</h4>
<%= link_to "Go Back to Ranking", users_index_path %>

<table>
  <thead>
    <tr>
      <th width="250">Predictions</th>
      <th width="250">What was submitted...</th>
      <th width="250">What really happened...</th>
      <th width="200">Points</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          What will be the final score?
        </td>
        <td>
          F.C. Barcelona 2 - 1 Borussia Dortmund 
        </td>
        <td>
          F.C. Barcelona 3 - 1 Borussia Dortmund
        </td>
        <td>
          50
        </td>  
      </tr>
      <tr>
        <td>
          Who will score the first goal of the team?
        </td>
        <td>
          Messi 
        </td>
        <td>
          Alexis
        </td>
        <td>
          0
        </td>  
      </tr>
      <tr>
        <td>
          Who will be the best defender of the team?
        </td>
        <td>
          Mascherano 
        </td>
        <td>
          Mascherano
        </td>
        <td>
          100
        </td>  
      </tr>
      <tr>
        <td>
          Who will be the best midfielder of the team?
        </td>
        <td>
          Iniesta
        </td>
        <td>
          Song
        </td>
        <td>
          0
        </td>  
      </tr>
      <tr>
        <td>
          Who will be the best forward of the team?
        </td>
        <td>
          Alexis
        </td>
        <td>
          Alexis
        </td>
        <td>
          100
        </td>  
      </tr>
      <tr>
        <td>
          When will your team score the first goal?
        </td>
        <td>
          16'-30'
        </td>
        <td>
          44'
        </td>
        <td>
          0
        </td>  
      </tr>
      <tr>
        <td>
          Which % of ball possession will your team have?
        </td>
        <td>
          51%-60%
        </td>
        <td>
          59%
        </td>
        <td>
          100
        </td>  
      </tr>
      <tr>
        <td>
          How many yellow cards will be shown to both teams?
        </td>
        <td>
          0-3
        </td>
        <td>
          3
        </td>
        <td>
          100
        </td>  
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td> 
          <h4 class="subheader">Total points 450</h4>
        </td>  
      </tr>
  </tbody>
</table>

<!-- Footer -->

<div class="centered_padding_bottom_40">
  <p>© The Guezz<p>
</div>
