<h1>The Guezz</h1>
<h2>The game about predictions where you win when you beat your friends</h2>

<h4>Game Rules</h4>
<h4>Rankings</h4>

<hr>

<%@clubs.each do |n|%>
  <ul>
    <li><%= n.name%></li>
  </ul>
<%end%>

<hr>

<p>© The Guezz<p>