<div class="centered">
  <div class="row">
    <div class="large-12 columns">
      <h1>Guezz</h1>    
    </div>
  </div>
</div>

<div class="row">
  <div class="small-9 small-centered columns">
    <div class="centered_padding_bottom_40">
      <h2 class="subheader">The game about predictions where you win when you beat your friends</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-9 small-centered columns">
    <div class="centered_padding_bottom_40">
      <h5 class="subheader ">
        <a href="#" data-reveal-id="GameRulesModal">Game Rules</a>
        |
        <%= link_to "Ranking", users_index_path %>
      </h5>
    </div>
  </div>
</div>

<!-- User Action Reinforcement

<div class="row">
  <div class="small-9 small-centered columns">
    <div id="centered">
      <h2 class="subheader">Choose your favorite team</h2>
    </div>
  </div>
</div>

-->

<div class="row">
  <div class="small-6 large-centered columns centered_padding_bottom_40">
    <ul data-orbit>
    <%@clubs.each do |n|%>
      <li>
        <%= image_tag(n.crest, class: "text-center")%>
      </li>
    <%end%>
    </ul>
  </div>
</div>

<div class="centered_padding_bottom_40">
  <div class="large button buton success button radius center">
    <%= link_to "Start Playing With This Team", new_club_user_path(:club_id => 2) %>
  </div>
</div>

<!-- Footer -->

<div class="centered_padding_bottom_40">
  <p>*To join the game, you must choose your team and register before <b>Tuesday the 15th of January 2014.</b><p>
</div>
   
<div class="centered_padding_bottom_40">
  <p>© The Guezz<p>
</div>