<div class="centered">
  <div class="row">
    <div class="large-12 columns">
      <h1>Guezz</h1>    
    </div>
  </div>
</div>

<div class="row">
  <div class="small-9 small-centered columns">
    <div class="centered padding_bottom_80">
      <h2 class="subheader">Thanks for registering! <br>You will receive an email when you can start<br> making your predictions.</h2>
    </div>
  </div>
</div>
