/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

.crest {
 margin: 0 auto;
 max-height: 100%;
}

.orbit-prev {
  margin-top: -30%!important;
}

.orbit-next {
  margin-top: -30%!important;
}


.row.full-width { width: 100%; max-width: 90%; }

.user-info {
  margin-top: 9px;
  float: right;
}

.centered {
  text-align:center;
}

.centered_padding_bottom_20 {
  text-align:center;
  padding-bottom: 20px;
}

.centered_padding_bottom_40 {
  text-align:center;
  padding-bottom: 40px;
}

.centered_padding_top_40 {
  text-align:center;
  padding-top: 40px;
}

.padding_top_20 {
  padding-top: 20px;
}

.padding_bottom_40 {
  padding-bottom: 40px;
}

.padding_bottom_80 {
  padding-bottom: 80px;
}

.body_custom { 
  margin-top: 60px; 
  margin-left: 60px; 
  margin-right: 60px;
  margin-bottom: 60px;
}

.claim { 
  margin-down: 100px; 
}

.orbit-container {
  background-color: white; 
}

